html
  body
    form#uploadForm(enctype='multipart/form-data', action='/file_uploaded', method='post')
      input(type='file', name='userFile')
      input(type='submit', value='Upload File', name='submit')
